@keyframes single-thunder {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0;
  }
  52% {
    opacity: 1;
  }
  53% {
    opacity: 0;
  }
  54% {
    opacity: 1;
  }
  74% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  76% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  91% {
    opacity: 0;
  }
  92% {
    opacity: 1;
  }
  93% {
    opacity: 0;
  }
  94% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blade-light {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(-359deg);
  }
}
@keyframes blade-light-scale {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  15% {
    opacity: 0;
    transform: scale(0, 1.5);
  }
  18% {
    opacity: 1;
    transform: scale(1, 2);
  }
  38% {
    opacity: 1;
    transform: scale(2, 3);
  }
  53% {
    opacity: 1;
    transform: scale(1, 2);
  }
  57% {
    opacity: 0;
    transform: scale(0, 1.5);
  }
  100% {
    opacity: 0;
    transform: scale(0, 0);
  }
}
@keyframes single-thunder-scale {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  49% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  51% {
    opacity: 0;
    transform: scale(1);
  }
  52% {
    opacity: 1;
    transform: scale(1);
  }
  53% {
    opacity: 0;
    transform: scale(1);
  }
  54% {
    opacity: 1;
    transform: scale(1);
  }
  74% {
    opacity: 1;
    transform: scale(1);
  }
  75% {
    opacity: 0;
    transform: scale(1);
  }
  76% {
    opacity: 1;
    transform: scale(1);
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
  91% {
    opacity: 0;
    transform: scale(1);
  }
  92% {
    opacity: 1;
    transform: scale(1);
  }
  93% {
    opacity: 0;
    transform: scale(1);
  }
  94% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
@keyframes thunder-sky {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  51% {
    opacity: 0.8;
  }
  52% {
    opacity: 1;
  }
  53% {
    opacity: 0.8;
  }
  54% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes flash-light {
  0% {
    filter: brightness(0);
  }
  50% {
    filter: brightness(90%);
    box-shadow: 0 0 0.5vw rgba(255, 255, 255, 0.3);
  }
  100% {
    filter: brightness(0);
  }
}
.lock-scroll {
  overflow-y: hidden;
}

.b-index-section-3 {
  margin-top: 0 !important;
}
.b-index-section-3 .overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background: url(../img/index/popbg.jpg) #080808 no-repeat center;
}
.b-index-section-3 .overlay .overlay-content {
  text-align: center;
  color: #fff;
  position: relative;
  transition: all 1s;
}
.b-index-section-3 .overlay .overlay-content.hide {
  opacity: 0;
}
.b-index-section-3 .overlay .overlay-content.zoomIn {
  transform: scale(5);
  background: #000;
  transition: transform 2s, background 4s;
}
.b-index-section-3 .overlay .overlay-content.zoomIn .pannel-wraper {
  transition: opacity 5s;
  opacity: 0;
}
.b-index-section-3 .overlay .overlay-content .pannel-wraper {
  transition: opacity 1s;
}
.b-index-section-3 .overlay .overlay-content .pannel-wraper:before, .b-index-section-3 .overlay .overlay-content .pannel-wraper:after {
  content: "";
  position: absolute;
  z-index: 4;
  opacity: 0.8;
}
.b-index-section-3 .overlay .overlay-content .btn-normal {
  position: absolute;
  cursor: pointer;
  border: 0;
  transition: filter 0.5s;
}
.b-index-section-3 .overlay .overlay-content .btn-normal:hover {
  filter: drop-shadow(0 0 5px #00FE9C) brightness(150%);
}
.b-index-section-3 .overlay .overlay-content .screen {
  position: absolute;
  top: 21.5vw;
  left: 22.5vw;
  z-index: 5;
  -webkit-mask-size: 100% 100%;
          mask-size: 100% 100%;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: 0 0;
          mask-position: 0 0;
}
.b-index-section-3 .overlay .overlay-content .screen:hover img {
  transform: scale(1.5);
}
.b-index-section-3 .overlay .overlay-content .screen:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: 100%;
}
.b-index-section-3 .overlay .overlay-content .screen img {
  display: block;
  position: relative;
  z-index: 1;
  transition: transform 1.5s;
}
.b-index-section-3 .overlay .overlay-content .pcMachine-wraper {
  display: none;
  position: relative;
  top: 0;
  z-index: 0;
}
@media (min-aspect-ratio: 1/1) {
  .b-index-section-3 .overlay .overlay-content .pcMachine-wraper {
    display: block;
  }
}
.b-index-section-3 .overlay .overlay-content .pcMachine-wraper:before, .b-index-section-3 .overlay .overlay-content .pcMachine-wraper:after {
  width: 1.2vw;
  height: 0.5vw;
  filter: brightness(0);
  animation: flash-light 1s linear 1s infinite;
}
.b-index-section-3 .overlay .overlay-content .pcMachine-wraper:before {
  background-color: rgb(183, 126, 19);
  animation-delay: 0.5s;
  top: 45.3vh;
  left: 27.9vh;
}
@media (max-aspect-ratio: 1.5472901169) {
  .b-index-section-3 .overlay .overlay-content .pcMachine-wraper:before {
    top: 29.3vw;
    left: 18vw;
  }
}
.b-index-section-3 .overlay .overlay-content .pcMachine-wraper:after {
  background-color: rgb(193, 3, 3);
  top: 46.8vh;
  left: 27.9vh;
}
@media (max-aspect-ratio: 1.5472901169) {
  .b-index-section-3 .overlay .overlay-content .pcMachine-wraper:after {
    top: 30.3vw;
    left: 18vw;
  }
}
.b-index-section-3 .overlay .overlay-content .pcMachine-wraper .pcMachine {
  width: auto;
  height: 100vh;
}
@media (max-aspect-ratio: 1.5472901169) {
  .b-index-section-3 .overlay .overlay-content .pcMachine-wraper .pcMachine {
    width: 100vw;
    height: auto;
  }
}
.b-index-section-3 .overlay .overlay-content .pcMachine-wraper .btn-normal {
  width: auto;
  height: 8vh;
}
@media (max-aspect-ratio: 1.5472901169) {
  .b-index-section-3 .overlay .overlay-content .pcMachine-wraper .btn-normal {
    width: 5vw;
    height: auto;
  }
}
.b-index-section-3 .overlay .overlay-content .pcMachine-wraper .close-pannel-btn {
  bottom: 22.5vh;
  right: 13vh;
}
@media (max-aspect-ratio: 1.5472901169) {
  .b-index-section-3 .overlay .overlay-content .pcMachine-wraper .close-pannel-btn {
    bottom: 14.5vw;
    right: 8.5vw;
  }
}
.b-index-section-3 .overlay .overlay-content .pcMachine-wraper .show-page-btn {
  right: 12vh;
  top: 32vh;
}
@media (max-aspect-ratio: 1.5472901169) {
  .b-index-section-3 .overlay .overlay-content .pcMachine-wraper .show-page-btn {
    right: 8vw;
    top: 20.5vw;
  }
}
.b-index-section-3 .overlay .overlay-content .pcMachine-wraper .screen {
  -webkit-mask-image: url(../img/index/pc_mask.svg);
          mask-image: url(../img/index/pc_mask.svg);
  top: 34.6vh;
  left: 37.4vh;
}
@media (max-aspect-ratio: 1.5472901169) {
  .b-index-section-3 .overlay .overlay-content .pcMachine-wraper .screen {
    top: 22.3vw;
    left: 24.2vw;
  }
}
.b-index-section-3 .overlay .overlay-content .pcMachine-wraper .screen img {
  width: 75.2vh;
}
@media (max-aspect-ratio: 1.5472901169) {
  .b-index-section-3 .overlay .overlay-content .pcMachine-wraper .screen img {
    width: 48.8vw;
  }
}
.b-index-section-3 .overlay .overlay-content .pcMachine-wraper .screen:before {
  background-image: url(../img/index/screen_shadow.png);
}
.b-index-section-3 .overlay .overlay-content .mbMachine-wraper {
  display: none;
  position: relative;
  top: 0;
  z-index: 0;
}
@media (max-aspect-ratio: 1/1) {
  .b-index-section-3 .overlay .overlay-content .mbMachine-wraper {
    display: block;
  }
}
.b-index-section-3 .overlay .overlay-content .mbMachine-wraper:before, .b-index-section-3 .overlay .overlay-content .mbMachine-wraper:after {
  border-radius: 50%;
  filter: brightness(0);
  animation: flash-light 1s linear 1s infinite;
  width: 1.3vw;
  height: 1.3vw;
}
@media (min-aspect-ratio: 0.7276064611) {
  .b-index-section-3 .overlay .overlay-content .mbMachine-wraper:before, .b-index-section-3 .overlay .overlay-content .mbMachine-wraper:after {
    top: 66.4vh;
    left: 29.8vh;
  }
}
.b-index-section-3 .overlay .overlay-content .mbMachine-wraper:before {
  background-color: rgb(183, 126, 19);
  animation-delay: 0.5s;
  top: 91.5vw;
  left: 40.8vw;
}
@media (min-aspect-ratio: 0.7276064611) {
  .b-index-section-3 .overlay .overlay-content .mbMachine-wraper:before {
    top: 66.4vh;
    left: 29.8vh;
  }
}
.b-index-section-3 .overlay .overlay-content .mbMachine-wraper:after {
  background-color: rgb(193, 3, 3);
  top: 91.5vw;
  left: 55.8vw;
}
@media (min-aspect-ratio: 0.7276064611) {
  .b-index-section-3 .overlay .overlay-content .mbMachine-wraper:after {
    top: 66.5vh;
    left: 40.4vh;
  }
}
.b-index-section-3 .overlay .overlay-content .mbMachine-wraper .mbMachine {
  width: 100vw;
  height: auto;
}
@media (min-aspect-ratio: 0.7276064611) {
  .b-index-section-3 .overlay .overlay-content .mbMachine-wraper .mbMachine {
    width: auto;
    height: 100vh;
  }
}
.b-index-section-3 .overlay .overlay-content .mbMachine-wraper .btn-normal {
  width: 9vw;
  height: auto;
}
@media (min-aspect-ratio: 0.7276064611) {
  .b-index-section-3 .overlay .overlay-content .mbMachine-wraper .btn-normal {
    width: auto;
    height: 6vh;
  }
}
.b-index-section-3 .overlay .overlay-content .mbMachine-wraper .close-pannel-btn {
  top: 69vw;
  left: 21vw;
}
@media (min-aspect-ratio: 0.7276064611) {
  .b-index-section-3 .overlay .overlay-content .mbMachine-wraper .close-pannel-btn {
    top: 51vh;
    left: 16vh;
  }
}
.b-index-section-3 .overlay .overlay-content .mbMachine-wraper .show-page-btn {
  top: 69vw;
  right: 23.5vw;
}
@media (min-aspect-ratio: 0.7276064611) {
  .b-index-section-3 .overlay .overlay-content .mbMachine-wraper .show-page-btn {
    top: 51vh;
    right: 17vh;
  }
}
.b-index-section-3 .overlay .overlay-content .mbMachine-wraper .screen {
  -webkit-mask-image: url(../img/index/mb_mask.svg);
          mask-image: url(../img/index/mb_mask.svg);
  top: 31.3vw;
  left: 17.6vw;
}
@media (min-aspect-ratio: 0.7276064611) {
  .b-index-section-3 .overlay .overlay-content .mbMachine-wraper .screen {
    top: 22.8vh;
    left: 13vh;
  }
}
.b-index-section-3 .overlay .overlay-content .mbMachine-wraper .screen img {
  width: 59.2vw;
}
@media (min-aspect-ratio: 0.7276064611) {
  .b-index-section-3 .overlay .overlay-content .mbMachine-wraper .screen img {
    width: 43vh;
  }
}
.b-index-section-3 .overlay .overlay-content .mbMachine-wraper .screen:before {
  background: transparent;
  box-shadow: inset 0 0 10px 10px rgb(0, 0, 0);
  top: 2%;
  height: 96%;
}

.content2 {
  position: relative;
  height: 5000px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 50px 0;
  font-size: 5vw;
}/*# sourceMappingURL=index.css.map */