@import 'components/_keyframes.scss';

$pc-ratio: 1456/941;
$mb-ratio: 991/1362;

.lock-scroll{
    overflow-y:hidden;
}

.b-index-section-3{
    margin-top: 0 !important;
    .overlay {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow:hidden;
        background: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        background: url(../img/index/popbg.jpg) #080808 no-repeat center;

        .overlay-content {
            text-align: center;
            color: #fff;
            position: relative;
            transition: all 1s;

            &.hide{
                opacity:0;
            }

            &.zoomIn{
                transform:scale(5);
                background:#000;
                transition: transform 2s, background 4s;
                .pannel-wraper{
                    transition: opacity 5s;
                    opacity:0;
                }
            }

            .pannel-wraper{
                transition: opacity 1s;

                &:before,
                &:after{
                    content:'';
                    position:absolute;
                    z-index:4;
                    opacity:0.8;
                    filter: brightness(0);
                    animation: flash-light 1s linear 1s infinite;
                }

                &:before{
                    animation-delay: 0.5s;
                    background-color:rgb(183, 126, 19);
                }

                &:after{
                    background-color:rgb(193, 3, 3);
                }
            }

            .btn-normal{
                position: absolute;
                cursor: pointer;
                border: 0;
                transition: filter 1s;
                filter:drop-shadow(0 0 0px #00FE9C) brightness(80%);
                animation: flash-light-button 2s linear 2s infinite;

                &:hover{
                    animation-play-state: paused;
                    filter:drop-shadow(0 0 5px #00FE9C) brightness(120%) !important;
                }
            }

            .screen{
                position: absolute;
                top: 21.5vw;
                left: 22.5vw;
                z-index: 5;
                mask-size: 100% 100%;
                mask-repeat: no-repeat;
                mask-position: 0 0;

                &:hover{
                    img{
                        transform:scale(1.5);
                    }
                }

                &:before{
                    content:'';
                    position:absolute;
                    top:0;
                    left:0;
                    width:100%;
                    height:100%;
                    z-index: 2;
                    background-repeat: no-repeat;
                    background-size: 100%;
                }
                img{
                    display:block;
                    position:relative;
                    z-index: 1;
                    transition:transform 1.5s;
                }
            }

            .pcMachine-wraper{
                display:none;
                position: relative;
                top:0;
                z-index:0;

                @media (min-aspect-ratio: 1/1){
                    display:block;
                }

                &:before, &:after{
                    width:1.2vw;
                    height:0.5vw;
                }

                &:before{
                    top:45.3vh;
                    left:27.9vh;
                    @media (max-aspect-ratio: $pc-ratio){
                        top:29.3vw;
                        left:18vw;
                    }
                }

                &:after{
                    top:46.8vh;
                    left:27.9vh;
                    @media (max-aspect-ratio: $pc-ratio){
                        top:30.3vw;
                        left:18vw;
                    }
                }

                .pcMachine{
                    width:auto;
                    height:100vh;
                    @media (max-aspect-ratio: $pc-ratio){
                        width:100vw;
                        height:auto;
                    }
                }

                .btn-normal{
                    width: auto;
                    height: 8vh;
                    @media (max-aspect-ratio: $pc-ratio){
                        width: 5vw;
                        height:auto;
                    }
                }

                .close-pannel-btn {
                    bottom: 22.5vh;
                    right: 13vh;
                    @media (max-aspect-ratio: $pc-ratio){
                        bottom: 14.5vw;
                        right: 8.5vw;
                    }
                }

                .show-page-btn {
                    right: 12vh;
                    top: 32vh;
                    @media (max-aspect-ratio: $pc-ratio){
                        right: 8vw;
                        top: 20.5vw;
                    }
                }

                .screen{
                    mask-image: url(../img/index/pc_mask.svg);
                    top: 34.6vh;
                    left: 37.4vh;
                    @media (max-aspect-ratio: $pc-ratio){
                        top: 22.3vw;
                        left: 24.2vw;
                    }

                    img{
                        width: 75.2vh;
                        @media (max-aspect-ratio: $pc-ratio){
                            width: 48.8vw;
                        }
                    }

                    &:before{
                        background-image: url(../img/index/screen_shadow.png);
                    }
                }
            }

            .mbMachine-wraper{
                display:none;
                position: relative;
                top:0;
                z-index:0;
                @media (max-aspect-ratio: 1/1){
                    display:block;
                }

                &:before, &:after{
                    border-radius: 50%;
                    width:1.3vw;
                    height:1.3vw;
                    @media (min-aspect-ratio: $mb-ratio){
                        top: 66.4vh;
                        left: 29.8vh;
                    }
                }

                &:before{
                    top:91.5vw;
                    left:40.8vw;
                    @media (min-aspect-ratio: $mb-ratio){
                        top: 66.4vh;
                        left: 29.8vh;
                    }
                }

                &:after{
                    top:91.5vw;
                    left:55.8vw;
                    @media (min-aspect-ratio: $mb-ratio){
                        top: 66.5vh;
                        left: 40.4vh;
                    }
                }

                .mbMachine{
                    width:100vw;
                    height:auto;
                    @media (min-aspect-ratio: $mb-ratio){
                        width:auto;
                        height:100vh;
                    }
                }

                .btn-normal{
                    width: 9vw;
                    height:auto;
                    @media (min-aspect-ratio: $mb-ratio){
                        width: auto;
                        height: 6vh;
                    }
                }

                .close-pannel-btn {
                    top: 69vw;
                    left: 21vw;
                    @media (min-aspect-ratio: $mb-ratio){
                        top: 51vh;
                        left: 16vh;
                    }
                }

                .show-page-btn {
                    top: 69vw;
                    right: 23.5vw;
                    @media (min-aspect-ratio: $mb-ratio){
                        top: 51vh;
                        right: 17vh;
                    }
                }

                .screen{
                    mask-image: url(../img/index/mb_mask.svg);
                    top: 31.3vw;
                    left: 17.6vw;
                    @media (min-aspect-ratio: $mb-ratio){
                        top: 22.8vh;
                        left: 13vh;
                    }

                    img{
                        width: 59.2vw;
                        @media (min-aspect-ratio: $mb-ratio){
                            width: 43vh;
                        }
                    }

                    &:before{
                        background: transparent;
                        box-shadow:inset 0 0 10px 10px rgba(0, 0, 0, 1);
                        top:2%;
                        height:96%;
                    }
                }

            }
            
        }
        
    }
    
  
} 

.content2{
    position:relative;
    height:5000px;
    width:100%;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    color:#fff;
    padding: 50px 0;
    font-size: 5vw;
}