
$pc-ratio: 1456/941;
$mb-ratio: 991/1362;

.lock-scroll{
    overflow-y:hidden;
}

.b-index-section-3{
    margin-top: 0 !important;
    .overlay {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow:hidden;
        background: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        background: url(../img/index/popbg.jpg) #080808 no-repeat center;

        .overlay-content {
            text-align: center;
            color: #fff;
            position: relative;
            transition: all 1s;

            &.hide{
                opacity:0;
            }

            &.zoomIn{
                transform:scale(5);
                background:#000;
                transition: transform 2s, background 4s;
                .pannel-wraper{
                    transition: opacity 5s;
                    opacity:0;
                }
            }

            .pannel-wraper{
                transition: opacity 1s;
            }

            .btn-normal{
                position: absolute;
                cursor: pointer;
                border: 0;
                transition: filter 0.5s;
                &:hover{
                    filter:drop-shadow(0 0 5px #00FE9C) brightness(150%)
                }
            }

            .pcMachine-wraper{
                display:none;
                position: relative;
                top:0;
                z-index:0;

                @media (min-aspect-ratio: 1/1){
                    display:block;
                }

                .pcMachine{
                    width:auto;
                    height:100vh;
                    @media (max-aspect-ratio: $pc-ratio){
                        width:100vw;
                        height:auto;
                    }
                }

                .btn-normal{
                    width: auto;
                    height: 8vh;
                    @media (max-aspect-ratio: $pc-ratio){
                        width: 5vw;
                        height:auto;
                    }
                }

                .close-pannel-btn {
                    bottom: 22.5vh;
                    right: 13vh;
                    @media (max-aspect-ratio: $pc-ratio){
                        bottom: 14.5vw;
                        right: 8.5vw;
                    }
                }

                .show-page-btn {
                    right: 12vh;
                    top: 32vh;
                    @media (max-aspect-ratio: $pc-ratio){
                        right: 8vw;
                        top: 20.5vw;
                    }
                }
            }

            .mbMachine-wraper{
                display:none;
                position: relative;
                top:0;
                z-index:0;
                @media (max-aspect-ratio: 1/1){
                    display:block;
                }

                .mbMachine{
                    width:100vw;
                    height:auto;
                    @media (min-aspect-ratio: $mb-ratio){
                        width:auto;
                        height:100vh;
                    }
                }

                .btn-normal{
                    width: 9vw;
                    height:auto;
                    @media (min-aspect-ratio: $mb-ratio){
                        width: auto;
                        height: 6vh;
                    }
                }

                .close-pannel-btn {
                    top: 69vw;
                    left: 21vw;
                    @media (min-aspect-ratio: $mb-ratio){
                        top: 51vh;
                        left: 16vh;
                    }
                }

                .show-page-btn {
                    top: 69vw;
                    right: 23.5vw;
                    @media (min-aspect-ratio: $mb-ratio){
                        top: 51vh;
                        right: 17vh;
                    }
                }

            }
            
        }
        
    }
    
  
} 

.content2{
    position:relative;
    height:5000px;
    width:100%;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    color:#fff;
    padding: 50px 0;
    font-size: 5vw;
}